<%include ../partials/header %>
<div class="container">
    <header>
        <h1 class="text-center">TwitClone</h1>
        <p class="text-center">Scroll through the Pops</p>
        <p class="text-center">
            <a class="btn btn-danger" href="/pops/new">Add New</a>
        </p>
        
    </header>
    <div class="col-sm-12">
        <% pops.reverse().forEach((pop)=>{ %>
            <div class="col-auto my-2">
                <div class="card w-100">
                    <p class="mt-2 mb-1 ml-4"><strong><a href="/profile/<%= pop.author.id %>">@<%= pop.author.username %></a></strong></p>
                    <small><p class="create-date ml-4 mb-2"><%= pop.created.toDateString() %></p></small>
                    <p class="ml-4 mb-2"><%= pop.poptext %></p>
                    <hr/>
                    <div class="col-sm-5 mb-2">
                        <p id="reply-btn" class="text-center mx-2">
                            <a id="reply-btn-link" class="btn btn-outline-danger btn-sm" href="/pops/<%= pop._id %>"><i class="fas fa-reply"></i></a>
                        </p>
                        <% if(currentUser && pop.author.id.equals(currentUser._id)){ %>
                            <p class="text-center mx-2" id="edit-btn">
                                <a id="edit-btn-link" class="btn btn-outline-danger btn-sm" href="/pops/<%= pop._id %>/edit"><i class="far fa-edit"></i></a>
                            </p>
                            <form id="delete-btn-form" class="mx-2" action="/pops/<%= pop._id %>?_method=DELETE" method="POST">
                                <button id="show-delete" class="btn btn-outline-danger btn-sm"><i class="far fa-trash-alt"></i></button>
                            </form>
                        <% } %>
                    </div>
                </div>
                
            </div>
        <%});%>
    </div>  
</div>

<%include ../partials/footer %>
